@import "../../custom-theme";

$circle-color: #f8f7ff;

#outer-container {
  overflow-x: hidden;
}

#home-container {
  width: 80%;
  margin: 0 auto;

  @include large {
    width: 85%;
  }

  @include medium {
    width: 90%;
  }
}

a#brand {
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 1.5px;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: black;

  #brand-text {
    color: var(--primary-color);
  }

  @include medium {
    font-size: 22px;
  }
}

.page-not-found {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 10vh 8% 0 8%;

  img {
    width: 300px;
    height: 300px;

    @include medium {
      width: 200px;
      height: 200px;
    }

    @include small {
      width: 100px;
      height: 100px;
    }
  }
}

button[type="button"] {
  letter-spacing: 1px;
  @include font-size(1.15rem);
}

.page-not-found-desc {
  @include font-size(1.15rem);
}

.page-not-found-title {
  @include font-size(1.75rem);
  font-weight: 700;
}
