// CSS Reset, comment out if not required or using a different module
@import "~minireset.css/minireset";
@import "~@angular/material/theming";
@import "~igniteui-angular/lib/core/styles/themes/index";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Background config
// Light bg
$light-background: #faffff;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#2c2c2c, 20%);
$dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12: rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  tooltip: $dark-bg-tooltip,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
);

// Theme Config

body {
  --primary-color: #0066cc;
  --primary-lighter-color: #c2e0ff;
  --primary-darker-color: #00478f;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #0066cc,
  lighter: #c2e0ff,
  darker: #00478f,
  200: #0066cc,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #eb9c0a;
  --accent-lighter-color: #f8c462;
  --accent-darker-color: #9d6807;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}

$mat-accent: (
  main: #eb9c0a,
  lighter: #f8c462,
  darker: #9d6807,
  200: #eb9c0a,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text,
    ),
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #f44336;
  --warn-lighter-color: #fcc7c3;
  --warn-darker-color: #ef2c22;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #f44336,
  lighter: #fcc7c3,
  darker: #ef2c22,
  200: #f44336,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

/* font-family: 'Exo', sans-serif;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Salsa', cursive; */
.iti {
  display: block !important;
}

.iti .dropdown-menu.country-dropdown {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #c7cace;
  margin-top: -1px;
}

.iti .iti__country-list {
  box-shadow: none;
  font-size: 14px;
  margin-left: 0;
  width: 100%;
  max-height: 150px;
}

.iti__flag-container.open + input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.iti .search-container input {
  font-size: 14px;
  border-color: #c7cace;
  border-radius: 0;
  padding: 5px 10px;
}

.iti .search-container input:focus {
  outline: none;
}

ngx-intl-tel-input input {
  border: none;
  font-size: 1rem;
  width: 100% !important;
}

ngx-intl-tel-input input:focus {
  outline: none !important;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}

$primary: #0066cc !default;
$secondary: #eb9c0a !default;
$app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($default-palette);

$custom-calendar-theme: igx-calendar-theme(
  $header-background: #0066cc,
  $content-background: #f8f7ff,
  $picker-background-color: #f8f7ff,
  $header-text-color: #ffffff,
  $date-current-text-color: #00478f,
  $picker-arrow-color: #00478f,
  $date-selected-text-color: #ffffff,
  $date-current-bg-color: #f8f7ff,
  $picker-arrow-hover-color: #00478f,
  $year-current-text-color: #000,
  $year-hover-text-color: #000,
  $month-current-text-color: #000,
  $month-hover-text-color: #000,
  $picker-text-color: #00478f,
  $picker-text-hover-color: #00478f,
  $border-radius: 10px,
);

$my-time-picker-theme: igx-time-picker-theme(
  $text-color: #000,
  $hover-text-color: #000,
  $selected-text-color: #000,
  $header-background: #0066cc,
  $header-hour-text-color: #fff,
  $header-time-period-color: #fff,
  $background-color: #f8f7ff,
);

$dark-button: igx-button-theme(
  $flat-text-color: #00478f,
  $flat-hover-background: #f8f7ff,
);

@include igx-time-picker($my-time-picker-theme);
@include igx-css-vars($custom-calendar-theme);
@include igx-button($dark-button);

.igx-input-group__bundle,
.igx-input-group__bundle:hover,
.igx-input-group__bundle:focus {
  box-shadow: none !important;
  border-bottom: 2px solid #aaa !important;
}

.igx-input-group__bundle:focus-within {
  border-bottom: 2px solid #0066cc !important;
}

.igx-input-group__bundle input {
  font-size: 0.9rem !important;
  line-height: 0.9rem !important;
}

.igx-input-group__bundle label {
  font-size: 0.9rem !important;
  line-height: 0.9rem !important;
}
.cal-week-view {
  background-color: #f8f7ff !important;
  border: none !important;
  border-radius: 10px;
}

.cal-week-view .cal-hour-odd {
  background-color: #f8f7ff !important;
}

.cal-week-view .cal-time {
  font-family: "Nunito", sans-serif;
  color: #00478f;
  font-size: 13px;
  padding-top: 5px;
  width: 70px;
  text-align: center;
}

.cal-hour-segment:hover {
  background-color: #f8f7ff !important;
}

mwl-calendar-day-view * {
  border-left: none;
  outline: none;
}
